<h2>Eventos</h2>
<hr>

<div class="row g-3">
  <div class="col-8">
    <label class="me-2">Filtro:</label>
    <input type="text" class="form-control" [(ngModel)]= "txtEvento" placeholder="Buscar Eventos">
  </div>
</div>
<br/>

<table class="table table-stripped table-hover">
  <thead class="table-dark">
    <tr>
      <th class="text-center"><button type="button" class="btn btn-outline-light btn-sm" (click)="MostrarImagem()">{{mostrarImagem ? "Exibir" : "Ocultar"}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th> QTD Pessoas</th>
      <th>Lote</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let item of eventosFiltrados">
      <td class="text-center">
        <img [collapse]="mostrarImagem" [isAnimated]="true" src="/assets/{{item.imageUrl}}" alt="imagem" [style.width.px]="150" [style.margin.px]="2" />
      </td>
      <td>{{item.eventoId}}</td>
      <td>{{item.tema}}</td>
      <td>{{item.local}}</td>
      <td>{{item.dataEvento | date:'dd/MM/yyyy '}}</td>
      <td>{{item.lote}}</td>
      <td>{{item.qtdPessoas}}</td>
      <td>
        <input type="button" class="btn btn-outline-primary btn-sm me-2" value="Editar" />
        <input type="button" class="btn btn-outline-danger btn-sm" value="Excluir" />
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados.length">
    <td colspan="8" class="text-center">
      Nenhum evento encontrado
    </td>
  </tfoot>
</table>
